@import "tailwindcss";
body {
  font-family: "Cinzel", serif;
}

html {
  scroll-behavior: smooth;
}

/* Oculta la barra de scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
