@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Cinzel", serif;
}

html {
  scroll-behavior: smooth;
}

/* Oculta la barra de scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
